{% extends 'portdent_app/base.html' %}
{% load static %}
{% block blody_block %}

<div class="text">
    <h2>Posts</h2>

    <div class="posts-container">
        {% for post in post_list %}
        <div class="post-item">
            <a class="post-link" href="{% url 'portdent_app:post-detail' post.pk %}">
                <img class="coverphoto" src="{{ post.cover_pic.url }}">
                <div class="post-details">
                    <p class="post-date">{{ post.created_at|date:"F j, Y" }}</p>
                    <article class="posttitle">{{ post.title }}</article>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}
