{% extends 'portdent_app/base.html' %}
{% load static %}
{% block blody_block %}

<!-- <script type="text/javascript" src="{% static 'js/myjavascript.js' %}"></script>  -->

<script>
    let map;
    function initMap(data) {
    const map=new google.maps.Map(document.getElementById("map"), {
    center: {lat: 52.2322, lng: 21.0062},
    zoom: 13,
    });

    const marker = new google.maps.Marker({
        position: {lat: 52.2322, lng: 21.0062},
        map:map,
    })
}


    window.initMap = initMap;

</script>


<div class="text">
    <h2> Contact</h2>

    <div class="row">
        <div class="column">
            <strong>Our location:</strong>
            <p>ul. Palc Defilad 1 Warsaw</p>
        </div>
        <div class="column">
            <strong>Opening hours:</strong>
            <p>Monday - Friday</p>
            <p>9:00 - 20:00</p>
        </div>
    </div>

    <div class="linkholder">
        <div id="map"></div>
        <script
            src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&v=weekly"
            defer>
    </script>
    </div>
      

<div class="contact-form-container">
    <h3>Contact us</h3>
    <form method="POST">
        {{ form.as_p }}
        <button class="button" type="submit">Send</button>
        {% csrf_token %}
    </form>
</div>

</div>

{% endblock %}