{% extends 'portdent_app/base.html' %}
{% load static %}
{% block blody_block %}

<div class="post-body">
    <h2 class="posttitle">{{ post.title }}</h2>
    <p class="post-author">By: {{ post.author }}</p>
    <p class="post-date">{{ post.created_at|date:"F j, Y" }}</p>
    

    <hr>
    <br/>

        {{ post.body|safe }}


    <br/>
    <br/>
    <br/>
    <a href="{% url 'portdent_app:update-post' post.pk %}"><button class="button" type="button">Update</button></a>
    <a href="{% url 'portdent_app:blog' %}"><button class="button" type="button">Back</button></a>

</div>
        
{% endblock %}