#container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  padding-top: 100px;
}


#main-menu a:hover {
  text-decoration: underline;
}


#main-menu {
    width: 100%;
    background: rgb(255, 255, 255);
    z-index: 9;
    display: block;

}

#main-menu ul{
  list-style: none;
  max-width: 800px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
  float: right;
}

#main-menu li{
    list-style-type: none;
    padding-top: 20px;
}

.logo img{
    position: absolute;
    margin-left: 10 px;
    height: 100px;
    width: 230px;
    background-color: white;
}

#main-menu a{
    text-decoration: none;
    font-family: Arial;
    color: rgb(43, 45, 61);
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

header {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 9;
  }

  
  footer{
    position: relative;
    height:100px;
    margin-top: 50px;
    display: block;
    background-color: rgb(43, 45, 61);
    color: rgb(219, 219, 219);
    font-family: Helvetica;
    font-size: 22px;
    text-align: center;
  }

  .mySlides {
    width: 100vw;
    height: 40vh;
  }

  .text {
    color: rgb(48, 47, 47);
    font-family: Helvetica;
    font-size: 24px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .textform {
    color: rgb(48, 47, 47);
    font-family: Helvetica;
    font-size: 24px;
    text-align: left;
    margin: auto;
  }

  .button{
    text-align: center;
    font-size: 24px;
    padding: 10px 20px;
    background-color: rgb(43, 45, 61);
    color: beige;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    margin-top: 20px;
  }

  .button:hover {
    background-color: rgb(54, 62, 117);
    color: beige;
  }


  #hamburger-menu {
    background-color: white;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0px;
    margin: 20px;
    /* float: right; */
    background: linear-gradient(
      to bottom, 
      rgb(43, 45, 61), rgb(43, 45, 61) 20%, 
      white 20%, white 40%, 
      rgb(43, 45, 61) 40%, rgb(43, 45, 61) 60%, 
      white 60%, white 80%, 
      rgb(43, 45, 61) 80%, rgb(43, 45, 61) 100%
    
    );
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    box-sizing: border-box;
    
}

#hamburger-menu a {
  font-size: 1.6rem;
  font-family: Helvetica;
  text-decoration: none;
  color: beige;
  font-weight: bold;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input{
  display: block;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
  visibility: visible;
  left: 0;
  transition: 0.3s;
  background-color: rgb(43, 45, 61)
}

/* .overlay {
  color: aqua;
} */

/* #hamburger-input:checked ~ .overlay{
 visibility: visible;
opacity: 0.4;
} */

@media screen and (max-width: 1000px) {
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: block;
  }
}

@media screen and (min-width: 1001px) {
  #main-menu {
    display: block;
  }
  #hamburger-menu {
    display: none;
  }
}

.linkholder{
  box-shadow: 0 0 20px rgba(0, 0, 0, .15);
  justify-content: space-around;
  margin: auto;
  width: 70vw;
  height: 400px;
  margin-bottom: 100px;
  margin-top: 20px;
}

#map {
  height: 100%;
}

#details {
  margin-top: 70px;
  /* margin-bottom: 50px; */
}

.column {
  float: left;
  width: 50%;
  }

  .row:after {
  content: "";
  display: table;
  clear: both;
  }

/* .coverphoto {
  height: 300px;
  width: 300px;
} */

ul li::marker {
  color: white;
}

.readmore {
  font-size: 20px;
  text-decoration: none;

}

.readmore:hover {
  text-decoration: underline;
}

.posttitle {
  font-size: 28px;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Adjust the gap between posts as needed */
}

.post-item {
  flex: 1 1 calc(33.333% - 32px); /* Adjust the percentage based on the desired number of posts per row */
  box-sizing: border-box;
  padding: 16px; /* Adjust the padding as needed */
  border: 1px solid #ddd; /* Optional: add a border for better visual separation */
  margin-bottom: 16px; /* Adjust the margin as needed */
}

@media (max-width: 1200px) {
  .post-item {
      flex: 1 1 calc(50% - 32px); /* Two posts per row on medium screens */
  }
}

@media (max-width: 768px) {
  .post-item {
      flex: 1 1 calc(100% - 32px); /* One post per row on small screens */
  }
}

.coverphoto {
  max-width: 100%;
  height: auto;
}