body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2b2d3d;
  background-color: rgb(239, 229, 229);
}

#container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  padding-top: 100px;
}

.container-section {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.text-section {
  font-size: 40px;
  flex: 1;
  padding: 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(239, 229, 229);
}

#main-menu a:hover {
  text-decoration: underline;
}


#main-menu {
    width: 100%;
    background: rgb(255, 255, 255);
    z-index: 9;
    display: block;

}

#main-menu ul{
  list-style: none;
  max-width: 800px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
  float: right;
}

#main-menu li{
    list-style-type: none;
    padding-top: 20px;
}

.logo img{
    position: absolute;
    margin-left: 10 px;
    height: 100px;
    width: 230px;
    background-color: white;
}

#main-menu a{
    text-decoration: none;
    font-family: Arial;
    color: rgb(43, 45, 61);
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

header {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 9;
  }


  footer{
    position: sticky;
    height:100px;
    display: block;
    background-color: rgb(43, 45, 61);
    color: rgb(219, 219, 219);
    font-family: Helvetica;
    font-size: 22px;
    text-align: center;
  }

.slider-section {
  flex: 1;
  position: relative;
}

.slider-content {
    height: 100%;
    width: 100%;
    position: absolute;
}

.mySlides {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

  .text {
    color: rgb(48, 47, 47);
    font-family: Helvetica;
    font-size: 24px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .textform {
    color: rgb(48, 47, 47);
    font-family: Helvetica;
    font-size: 24px;
    text-align: left;
    margin: auto;
  }

  .button{
    text-align: center;
    font-size: 24px;
    padding: 10px 20px;
    background-color: rgb(43, 45, 61);
    color: beige;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    margin-top: 20px;
  }

  .button:hover {
    background-color: rgb(54, 62, 117);
    color: beige;
  }


  #hamburger-menu {
    background-color: white;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0px;
    margin: 20px;
    /* float: right; */
    background: linear-gradient(
      to bottom, 
      rgb(43, 45, 61), rgb(43, 45, 61) 20%, 
      white 20%, white 40%, 
      rgb(43, 45, 61) 40%, rgb(43, 45, 61) 60%, 
      white 60%, white 80%, 
      rgb(43, 45, 61) 80%, rgb(43, 45, 61) 100%
    
    );
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    box-sizing: border-box;
    
}

#hamburger-menu a {
  font-size: 1.6rem;
  font-family: Helvetica;
  text-decoration: none;
  color: beige;
  font-weight: bold;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input{
  display: block;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
  visibility: visible;
  left: 0;
  transition: 0.3s;
  background-color: rgb(43, 45, 61)
}

/* .overlay {
  color: aqua;
} */

/* #hamburger-input:checked ~ .overlay{
 visibility: visible;
opacity: 0.4;
} */

@media screen and (max-width: 1000px) {
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: block;
  }
}

@media screen and (min-width: 1001px) {
  #main-menu {
    display: block;
  }
  #hamburger-menu {
    display: none;
  }
}

.linkholder{
  box-shadow: 0 0 20px rgba(0, 0, 0, .15);
  justify-content: space-around;
  margin: auto;
  width: 70vw;
  height: 400px;
  margin-bottom: 100px;
  margin-top: 20px;
}

#map {
  height: 100%;
}

#details {
  margin-top: 70px;
  /* margin-bottom: 50px; */
}

.column {
  float: left;
  width: 50%;
  }

  .row:after {
  content: "";
  display: table;
  clear: both;
  }

  .coverphoto {
    height: 250px;
    width: 250px;
    border-radius: 15%;
    object-fit: cover;
    transition: transform 0.3s;
    filter: grayscale(50%);
}

ul li::marker {
    color: white;
}

.post-link {
    text-decoration: none;
    color: inherit;
}

.post-link:hover .posttitle {
    text-decoration: underline;
}

.posttitle {
    font-size: 28px;
    margin: 0;
}

.post-date {
  font-size: 16px;
  color: #666;
}

.post-author {
  font-size: 20px;
}

.posts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    margin: 0;
}

.post-body {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 800px;
}

.post-item {
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  max-width: calc(25% - 20px);
  background-color: #d5ceceed;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1200px) {
    .post-item {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .post-item {
        flex: 1 1 calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
}
  .contact-form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-size: 1.5rem;
    /* background-image: url('/static/images/background.jpg'); */
}

.contact-form-container h3 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.contact-form-container form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-form-container input,
.contact-form-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    color: #333;
}

.contact-form-container textarea {
    resize: vertical;
    min-height: 150px;
}

.contact-form-container .button {
    align-self: flex-start;
    padding: 10px 20px;
    background-color: #2b2d3d;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.contact-form-container .button:hover {
    background-color: #363e75;
    transform: translateY(-2px);
}

.contact-form-container .button:focus {
    outline: 2px solid #2b2d3d;
    outline-offset: 2px;
}

.form-container {
  max-width: 600px;
  margin: 100px auto 0;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-size: 1.5rem;
  /* background-image: url('/static/images/background.jpg'); */
}

.form-container h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-container input,
.form-container textarea,
.form-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  color: #333;
}

.form-container textarea {
  resize: vertical;
  min-height: 150px;
}

.form-container .button {
  align-self: flex-start;
  padding: 10px 20px;
  background-color: #2b2d3d;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.form-container .button:hover {
  background-color: #363e75;
  transform: translateY(-2px);
}

.form-container .button:focus {
  outline: 2px solid #2b2d3d;
  outline-offset: 2px;
}
